<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
       
        background-color: #f0f0f0;
    }
    #container1{
        height: 800px;
        width: 800px;
    }
    #button1 {
  position: absolute;
  top: 50px;
  left: 160px;
}
 #button2 {
  position: absolute;
  top: 70px;
  left: 160px;
}
 #button3 {
  position: absolute;
  top: 90px;
  left: 160px;
}

</style>

<body>
    <div id="container1"></div>
  <button id="button1">Circle</button>
  <button id="button2">rectangle</button>
  <button id="button3">Star</button>
</body>
    
